body, html{
  background-color: grey;
  margin:0px;
}


/**{
  outline:1px solid red;
}/**/

.panel {
  margin-top: 5px;
  display: inline-block;
  width: 33%;
  float:left;
  box-sizing:border-box;
  text-align: center;
  padding:0px;
  list-style: none;
  height:100%;
  font-variant: small-caps;
  }

  .panel *{
    box-sizing:border-box;
  }

  .panel li{
    margin:2px auto;
    width:90%;
    text-align: left;
    padding:5px;
    background-color: mintcream;
    border-radius: 4px;
    border:1px saddlebrown solid;
    margin-bottom:3px; 
    font-variant: normal;
  }

